
Sprites.config
obj/Debug/netcoreapp3.1/Sprint4.csproj.CoreCompileInputs.cache
.vs/Sprint4/xs/project-cache/Sprint4-Debug.json
obj/Debug/netcoreapp3.1/Sprint4.pdb
obj/Debug/netcoreapp3.1/Sprint4.dll
obj/Debug/netcoreapp3.1/Sprint4.csprojAssemblyReference.cache
bin/Debug/netcoreapp3.1/Sprint4.pdb
bin/Debug/netcoreapp3.1/Sprint4.dll
.vs/Sprint4/xs/project-cache/Sprint4-Debug.json
.vs/Sprint4/xs/project-cache/Sprint4-Debug.json
bin/Debug/netcoreapp3.1/Sprint4.dll
bin/Debug/netcoreapp3.1/Sprint4.pdb
obj/Debug/netcoreapp3.1/Sprint4.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Sprint4.dll
obj/Debug/netcoreapp3.1/Sprint4.pdb
