
.DS_Store
.vs/Sprint5/xs/project-cache/Sprint5-Debug.json
bin/Debug/netcoreapp3.1/Content/File.xnb
bin/Debug/netcoreapp3.1/Content/LinkSpriteSheet.xnb
bin/Debug/netcoreapp3.1/MonoGame.Framework.dll
bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libopenal.so.1
bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libSDL2-2.0.so.0
bin/Debug/netcoreapp3.1/runtimes/osx/native/libopenal.1.dylib
bin/Debug/netcoreapp3.1/runtimes/osx/native/libSDL2-2.0.0.dylib
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/SDL2.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/soft_oal.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/SDL2.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/soft_oal.dll
bin/Debug/netcoreapp3.1/Sprint5.dll
bin/Debug/netcoreapp3.1/Sprint5.exe
bin/Debug/netcoreapp3.1/Sprint5.pdb
bin/Debug/netcoreapp3.1/Sprint5.runtimeconfig.dev.json
Content/obj/DesktopGL/Content/.mgcontent
Content/obj/DesktopGL/Content/.mgstats
Content/obj/DesktopGL/Content/EnemySpriteSheet.mgcontent
Content/obj/DesktopGL/Content/BossSpriteSheet.mgcontent
Content/obj/DesktopGL/Content/File.mgcontent
Content/obj/DesktopGL/Content/itemSprites.mgcontent
Content/obj/DesktopGL/Content/LinkSpriteSheet.mgcontent
Content/obj/DesktopGL/Content/marioOneDirection.mgcontent
Content/obj/DesktopGL/Content/LinkSpriteSheet.mgcontent
Content/obj/DesktopGL/Content/marioOneDirection.mgcontent
Content/obj/DesktopGL/Content/zelda_tiles_focused.mgcontent
Content/obj/DesktopGL/Content/NPCSpriteSheet.mgcontent
Link/.DS_Store
obj/Debug/netcoreapp3.1/Sprint5.assets.cache
obj/Debug/netcoreapp3.1/Sprint5.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Sprint5.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Sprint5.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Sprint5.dll
obj/Debug/netcoreapp3.1/Sprint5.exe
obj/Debug/netcoreapp3.1/Sprint5.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/Sprint5.csproj.nuget.dgspec.json
obj/Sprint5.csproj.nuget.g.props
obj/Sprint5.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/Sprint5.csprojAssemblyReference.cache
obj/project.assets.json
obj/project.nuget.cache
obj/Sprint5.csproj.nuget.dgspec.json
.vs/Sprint5/xs/project-cache/Sprint5-Debug.json
.vs/Sprint5/xs/UserPrefs.xml
obj/Debug/netcoreapp3.1/Sprint5.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Sprint5.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Sprint5.csprojAssemblyReference.cache
obj/project.assets.json
obj/project.nuget.cache
obj/Sprint5.csproj.nuget.dgspec.json
obj/Debug/netcoreapp3.1/Sprint5.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Sprint5.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Sprint5.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Sprint5.dll
obj/Debug/netcoreapp3.1/Sprint5.pdb
Content/obj/DesktopGL/Content/.mgcontent
Content/obj/DesktopGL/Content/.mgstats
Content/bin/DesktopGL/wandbeam.xnb
Content/bin/DesktopGL/particles.xnb
Content/bin/DesktopGL/LinkSpriteSheet.xnb
Content/bin/DesktopGL/itemSprites.xnb
Content/bin/DesktopGL/explosion.xnb
Content/bin/DesktopGL/Content/wandbeam.xnb
Content/bin/DesktopGL/Content/particles.xnb
Content/bin/DesktopGL/Content/explosion.xnb
Content/bin/DesktopGL/Content/beamImpact.xnb
Content/bin/DesktopGL/beamImpact.xnb
bin/Debug/netcoreapp3.1/Sprint5.pdb
bin/Debug/netcoreapp3.1/Sprint5.dll
bin/Debug/netcoreapp3.1/Content/wandbeam.xnb
bin/Debug/netcoreapp3.1/Content/particles.xnb
bin/Debug/netcoreapp3.1/Content/explosion.xnb
bin/Debug/netcoreapp3.1/Content/beamImpact.xnb
.vs/Sprint5/xs/UserPrefs.xml
.vs/Sprint5/xs/project-cache/Sprint5-Debug.json
.DS_Store
Link/Movement.cs
Sprites.config
*.mgcontent
Content/bin/DesktopGL/Content/File.xnb
Content/bin/DesktopGL/Content/RoomMapOuter.xnb
Content/obj/DesktopGL/Content/wandbeam.mgcontent
Content/obj/DesktopGL/Content/Sounds/UseCandle.mgcontent
Content/obj/DesktopGL/Content/Sounds/TextSlow.mgcontent
Content/obj/DesktopGL/Content/Sounds/Text.mgcontent
Content/obj/DesktopGL/Content/Sounds/SwordSlash.mgcontent
Content/obj/DesktopGL/Content/Sounds/SwordShoot.mgcontent
Content/obj/DesktopGL/Content/Sounds/SwordCombined.mgcontent
Content/obj/DesktopGL/Content/Sounds/Stairs.mgcontent
Content/obj/DesktopGL/Content/Sounds/Shield.mgcontent
Content/obj/DesktopGL/Content/Sounds/RefillLoop.mgcontent
Content/obj/DesktopGL/Content/Sounds/MagicalRod.mgcontent
Content/obj/DesktopGL/Content/Sounds/LowHealth.mgcontent
Content/obj/DesktopGL/Content/Sounds/LinkHurt.mgcontent
Content/obj/DesktopGL/Content/Sounds/LinkDie.mgcontent
Content/obj/DesktopGL/Content/Sounds/KeyAppear.mgcontent
Content/obj/DesktopGL/Content/Sounds/GetRupee.mgcontent
Content/obj/DesktopGL/Content/Sounds/GetItem.mgcontent
Content/obj/DesktopGL/Content/Sounds/GetHeart.mgcontent
Content/obj/DesktopGL/Content/Sounds/Fanfare.mgcontent
Content/obj/DesktopGL/Content/Sounds/EnemyHit.mgcontent
Content/obj/DesktopGL/Content/Sounds/EnemyDie.mgcontent
Content/obj/DesktopGL/Content/Sounds/DungeonTheme.mgcontent
Content/obj/DesktopGL/Content/Sounds/DoorUnlock.mgcontent
Content/obj/DesktopGL/Content/Sounds/DodongoRoar.mgcontent
Content/obj/DesktopGL/Content/Sounds/BossScream3.mgcontent
Content/obj/DesktopGL/Content/Sounds/BombExplode.mgcontent
Content/obj/DesktopGL/Content/Sounds/BombDrop.mgcontent
Content/obj/DesktopGL/Content/Sounds/ArrowBoomerang.mgcontent
Content/obj/DesktopGL/Content/Sounds/AquamentusRoar.mgcontent
Content/obj/DesktopGL/Content/RoomMapOuter.mgcontent
Content/obj/DesktopGL/Content/RoomMapFixed.mgcontent
Content/obj/DesktopGL/Content/RoomMap.mgcontent
Content/obj/DesktopGL/Content/explosion.mgcontent
Content/obj/DesktopGL/Content/Door9.mgcontent
Content/obj/DesktopGL/Content/Door8.mgcontent
Content/obj/DesktopGL/Content/Door6.mgcontent
Content/obj/DesktopGL/Content/Door16.mgcontent
Content/obj/DesktopGL/Content/Door14.mgcontent
Content/obj/DesktopGL/Content/Door13.mgcontent
Content/obj/DesktopGL/Content/Door1.mgcontent
Content/obj/DesktopGL/Content/beamImpact.mgcontent
Content/bin/DesktopGL/Content/RoomMapOuter.xnb
Content/bin/DesktopGL/Content/File.xnb
bin/Debug/netcoreapp3.1/Content/RoomMapOuter.xnb
Content/obj/DesktopGL/Content/wandbeam.mgcontent
Content/obj/DesktopGL/Content/Sounds/UseCandle.mgcontent
Content/obj/DesktopGL/Content/Sounds/TextSlow.mgcontent
Content/obj/DesktopGL/Content/Sounds/Text.mgcontent
Content/obj/DesktopGL/Content/Sounds/SwordSlash.mgcontent
Content/obj/DesktopGL/Content/Sounds/SwordShoot.mgcontent
Content/obj/DesktopGL/Content/Sounds/SwordCombined.mgcontent
Content/obj/DesktopGL/Content/Sounds/Stairs.mgcontent
Content/obj/DesktopGL/Content/Sounds/Shield.mgcontent
Content/obj/DesktopGL/Content/Sounds/RefillLoop.mgcontent
Content/obj/DesktopGL/Content/Sounds/MagicalRod.mgcontent
Content/obj/DesktopGL/Content/Sounds/LowHealth.mgcontent
Content/obj/DesktopGL/Content/Sounds/LinkHurt.mgcontent
Content/obj/DesktopGL/Content/Sounds/LinkDie.mgcontent
Content/obj/DesktopGL/Content/Sounds/KeyAppear.mgcontent
Content/obj/DesktopGL/Content/Sounds/GetRupee.mgcontent
Content/obj/DesktopGL/Content/Sounds/GetItem.mgcontent
Content/obj/DesktopGL/Content/Sounds/GetHeart.mgcontent
Content/obj/DesktopGL/Content/Sounds/Fanfare.mgcontent
Content/obj/DesktopGL/Content/Sounds/EnemyHit.mgcontent
Content/obj/DesktopGL/Content/Sounds/EnemyDie.mgcontent
Content/obj/DesktopGL/Content/Sounds/DungeonTheme.mgcontent
Content/obj/DesktopGL/Content/Sounds/DoorUnlock.mgcontent
Content/obj/DesktopGL/Content/Sounds/DodongoRoar.mgcontent
Content/obj/DesktopGL/Content/Sounds/BossScream3.mgcontent
Content/obj/DesktopGL/Content/Sounds/BombExplode.mgcontent
Content/obj/DesktopGL/Content/Sounds/BombDrop.mgcontent
Content/obj/DesktopGL/Content/Sounds/ArrowBoomerang.mgcontent
Content/obj/DesktopGL/Content/Sounds/AquamentusRoar.mgcontent
Content/obj/DesktopGL/Content/RoomMapOuter.mgcontent
Content/obj/DesktopGL/Content/RoomMapFixed.mgcontent
Content/obj/DesktopGL/Content/RoomMap.mgcontent
Content/obj/DesktopGL/Content/explosion.mgcontent
Content/obj/DesktopGL/Content/Door9.mgcontent
Content/obj/DesktopGL/Content/Door8.mgcontent
Content/obj/DesktopGL/Content/Door6.mgcontent
Content/obj/DesktopGL/Content/Door16.mgcontent
Content/obj/DesktopGL/Content/Door14.mgcontent
Content/obj/DesktopGL/Content/Door13.mgcontent
Content/obj/DesktopGL/Content/Door1.mgcontent
Content/obj/DesktopGL/Content/beamImpact.mgcontent
Content/bin/DesktopGL/Content/File.xnb
Content/obj/DesktopGL/Content/Door14.mgcontent
Content/obj/DesktopGL/Content/Door13.mgcontent
Content/obj/DesktopGL/Content/Door1.mgcontent
Content/obj/DesktopGL/Content/beamImpact.mgcontent
Content/obj/DesktopGL/Content/Door14.mgcontent
Content/obj/DesktopGL/Content/Door16.mgcontent
Content/obj/DesktopGL/Content/Door6.mgcontent
Content/obj/DesktopGL/Content/Door8.mgcontent
Content/bin/DesktopGL/Content/File.xnb
Content/obj/DesktopGL/Content/beamImpact.mgcontent
Content/obj/DesktopGL/Content/Door1.mgcontent
Content/obj/DesktopGL/Content/Door13.mgcontent
Content/obj/DesktopGL/Content/Door14.mgcontent
Content/obj/DesktopGL/Content/Door16.mgcontent
Content/obj/DesktopGL/Content/Door6.mgcontent
Content/obj/DesktopGL/Content/Door8.mgcontent
Content/obj/DesktopGL/Content/Door9.mgcontent
Content/obj/DesktopGL/Content/explosion.mgcontent
Content/obj/DesktopGL/Content/RoomMap.mgcontent
Content/obj/DesktopGL/Content/RoomMapFixed.mgcontent
Content/obj/DesktopGL/Content/RoomMapOuter.mgcontent
Content/obj/DesktopGL/Content/Sounds/AquamentusRoar.mgcontent
Content/obj/DesktopGL/Content/Sounds/ArrowBoomerang.mgcontent
Content/obj/DesktopGL/Content/Sounds/BombDrop.mgcontent
Content/obj/DesktopGL/Content/Sounds/BombExplode.mgcontent
Content/obj/DesktopGL/Content/Sounds/BossScream3.mgcontent
Content/obj/DesktopGL/Content/Sounds/DodongoRoar.mgcontent
Content/obj/DesktopGL/Content/Sounds/DoorUnlock.mgcontent
Content/obj/DesktopGL/Content/Sounds/DungeonTheme.mgcontent
Content/obj/DesktopGL/Content/Sounds/EnemyDie.mgcontent
Content/obj/DesktopGL/Content/Sounds/EnemyHit.mgcontent
Content/obj/DesktopGL/Content/Sounds/Fanfare.mgcontent
Content/obj/DesktopGL/Content/Sounds/GetHeart.mgcontent
Content/obj/DesktopGL/Content/Sounds/GetItem.mgcontent
Content/obj/DesktopGL/Content/Sounds/GetRupee.mgcontent
Content/obj/DesktopGL/Content/Sounds/KeyAppear.mgcontent
Content/obj/DesktopGL/Content/Sounds/LinkDie.mgcontent
Content/obj/DesktopGL/Content/Sounds/LinkHurt.mgcontent
Content/obj/DesktopGL/Content/Sounds/LowHealth.mgcontent
Content/obj/DesktopGL/Content/Sounds/MagicalRod.mgcontent
Content/obj/DesktopGL/Content/Sounds/RefillLoop.mgcontent
Content/obj/DesktopGL/Content/Sounds/Shield.mgcontent
Content/obj/DesktopGL/Content/Sounds/Stairs.mgcontent
Content/obj/DesktopGL/Content/Sounds/SwordCombined.mgcontent
Content/obj/DesktopGL/Content/Sounds/SwordShoot.mgcontent
Content/obj/DesktopGL/Content/Sounds/SwordSlash.mgcontent
Content/obj/DesktopGL/Content/Sounds/Text.mgcontent
Content/obj/DesktopGL/Content/Sounds/TextSlow.mgcontent
Content/obj/DesktopGL/Content/Sounds/UseCandle.mgcontent
Content/obj/DesktopGL/Content/wandbeam.mgcontent
Sprint5.csproj
GlobalSuppressions.cs
Content/obj/DesktopGL/Content/wandbeam.mgcontent
Content/obj/DesktopGL/Content/Sounds/UseCandle.mgcontent
Content/obj/DesktopGL/Content/Sounds/TextSlow.mgcontent
Content/obj/DesktopGL/Content/Sounds/Text.mgcontent
Content/obj/DesktopGL/Content/Sounds/SwordSlash.mgcontent
Content/obj/DesktopGL/Content/Sounds/SwordShoot.mgcontent
Content/obj/DesktopGL/Content/Sounds/SwordCombined.mgcontent
Content/obj/DesktopGL/Content/Sounds/Stairs.mgcontent
Content/obj/DesktopGL/Content/Sounds/Shield.mgcontent
Content/obj/DesktopGL/Content/Sounds/RefillLoop.mgcontent
Content/obj/DesktopGL/Content/Sounds/MagicalRod.mgcontent
Content/obj/DesktopGL/Content/Sounds/LowHealth.mgcontent
Content/obj/DesktopGL/Content/Sounds/LinkHurt.mgcontent
Content/obj/DesktopGL/Content/Sounds/LinkDie.mgcontent
Content/obj/DesktopGL/Content/Sounds/KeyAppear.mgcontent
Content/obj/DesktopGL/Content/Sounds/GetRupee.mgcontent
Content/obj/DesktopGL/Content/Sounds/GetItem.mgcontent
Content/obj/DesktopGL/Content/Sounds/GetHeart.mgcontent
Content/obj/DesktopGL/Content/Sounds/Fanfare.mgcontent
Content/obj/DesktopGL/Content/Sounds/EnemyHit.mgcontent
Content/obj/DesktopGL/Content/Sounds/EnemyDie.mgcontent
Content/obj/DesktopGL/Content/Sounds/DungeonTheme.mgcontent
Content/obj/DesktopGL/Content/Sounds/DoorUnlock.mgcontent
Content/obj/DesktopGL/Content/Sounds/DodongoRoar.mgcontent
Content/obj/DesktopGL/Content/Sounds/BossScream3.mgcontent
Content/obj/DesktopGL/Content/Sounds/BombExplode.mgcontent
Content/obj/DesktopGL/Content/Sounds/BombDrop.mgcontent
Content/obj/DesktopGL/Content/Sounds/ArrowBoomerang.mgcontent
Content/obj/DesktopGL/Content/Sounds/AquamentusRoar.mgcontent
Content/obj/DesktopGL/Content/RoomMapOuter.mgcontent
Content/obj/DesktopGL/Content/RoomMapFixed.mgcontent
Content/obj/DesktopGL/Content/RoomMap.mgcontent
Content/obj/DesktopGL/Content/explosion.mgcontent
Content/obj/DesktopGL/Content/Door9.mgcontent
Content/obj/DesktopGL/Content/Door8.mgcontent
Content/obj/DesktopGL/Content/Door6.mgcontent
Content/obj/DesktopGL/Content/Door16.mgcontent
Content/obj/DesktopGL/Content/Door14.mgcontent
Content/obj/DesktopGL/Content/Door13.mgcontent
Content/obj/DesktopGL/Content/Door1.mgcontent
Content/obj/DesktopGL/Content/beamImpact.mgcontent
Content/bin/DesktopGL/Content/File.xnb
.editorconfig
